.site-wrapper {
  background-color: goldenrod;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  color: blue;
  text-decoration: underline;
}

p {
  background-color: #EEEEEE;
}
